<!--The content below is only a placeholder and can be replaced.-->
<div class="is-color-white" id="personal" style="background: black;">
  <div class="banner-dot">
    <div class="container fix-padding">
      <div class="row">
        <div class="col-md-4 is-center">
          <img src="assets/profile.jpg" alt="..." class="img-thumbnail rounded" style="height:350px; width:350px; margin-bottom: 2vh;">
        </div>
        <div class="col-md-8">
          <div class="personal-text">
            <h2 class="header-h2">
              <div class="pointer-header"></div>
              สวัสดีครับ<br />
            </h2>
            <h1 class="name-header">
              ผม ศิวกรณ์ เพียงเพ็ญจันทร์
            </h1>
            <hr />
            <div class="row">
              <div class="col-5 margin-personal">
                วัน-เดือน-ปีเกิด
              </div>
              <div class="col-5 margin-personal">
                28-03-2539
              </div>
              <div class="col-5 margin-personal">
                เบอร์โทร
              </div>
              <div class="col-5 margin-personal">
                084-692-5390
              </div>
              <div class="col-5 margin-personal">
                ที่อยู่
              </div>
              <div class="col-5 margin-personal">
                ถนน พระราม 2 แขวงแสมดำ เขตบางขุนเทียน กรุงเทพฯ 10150
              </div>
              <div class="col-5 margin-personal">
                อีเมลล์
              </div>
              <div class="col-5 margin-personal">
                siwakorn_earth@hotmail.com
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="top-nav" style="background-color: #007bff;">
  <div class="container">
      <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <button class="navbar-toggler menu-button" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          Menu
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a id="gotoAbout" class="nav-link" href="#about">เกี่ยวกับฉัน</a>
            </li>
            <li class="nav-item">
              <a id="gotoEducation" class="nav-link" href="#education">การศึกษา</a>
            </li>
            <li class="nav-item">
              <a id="gotoSkill" class="nav-link" href="#skill">ทักษะ</a>
            </li>
            <li class="nav-item">
              <a id="gotoProject" class="nav-link" href="#project">งานของฉัน</a>
            </li>
            <li class="nav-item">
              <a id="gotoContact" class="nav-link" href="#contact">ติดต่อพวกเรา</a>
            </li>
          </ul>
        </div>
      </nav>
  </div>
</div>
<div class="about" id="about">
  <div class="container fix-padding">
    <div class="row">
      <div class="col-md-12">
        <div class="about-text">
          <h1 class="text-header">
            เกี่ยวกับฉัน
          </h1>
          <div class="row">
            <div class="col-md-8">
              สวัสดีครับ ผมชื่อ นายศิวกรณ์ เพียงเพ็ญจันทร์ จบจาก มหาวิทยาลัยเทคโนโลยีพระจอมเกล้าพระนครเหนือ วิทยาเขตปราจีนบุรีครับ
              แต่เป็นเด็กกรุงเทพ ฯ ครับ บ้านอยู่แถว พระราม 2 บางขุนเทียน สาขาวิชาที่เรียน คือ วิทยาการสารสนเทศ (Information Science)
              โดยสาขานี้ จะเรียนเกี่ยวกับ Programming Languages แต่ข้อที่แตกต่างจากสาขา วิทยาการคอมพิวเตอร์ นั่นก็คือ
              สาขานี้ไม่มีเรียน ฟิสิกส์ เคมี และชีวะ ครับ
            </div>
            <div class="col-md-4">
              <div class="award-box">
                <h5 class="award-header">ใบเกียรติบัตร</h5>
                > ได้รับใบผ่านทดสอบ Oracle<br />
                > ได้รับใบประกอบวิชาชีพ
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container space-padding"></div>
</div>
<div class="education" id="education" style="background: black;">
  <div class="container fix-padding">
    <div class="row">
      <div class="col-md-12">
        <div class="education-text">
          <h1 class="text-header">
            การศึกษา
          </h1>
          <div class="row">
            <div class="col-5 education-left">
              <h4 class="education-year">2014-2018</h4>
            </div>
            <div class="col-7 education-box-left">
              <h5 class="education-company">
                มหาวิทยาลัยเทคโนโลยีพระจอมเกล้าพระนครเหนือ
              </h5>
              <p>
                ปริญญาสาขา เทคโนโลยีบัญฑิต<br />
                สาขาวิชา วิทยาการสารสนเทศ
              </p>
            </div>
            <div class="col-5 education-left">
              <h5 class="education-company">
                โรงเรียนรัตนโกสินทร์สมโภชบางขุนเทียน
              </h5>
              <p>
                สายวิชา ศิลป์-คำนวณ<br />
              </p>
            </div>
            <div class="col-7 education-box-left">
              <h4 class="education-year">2011-2014</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container space-padding"></div>
</div>
<div class="skills" id="skill">
  <div class="container fix-padding">
    <div class="row">
      <div class="col-md-12">
        <div class="skills-text">
          <h1 class="text-header">
            ทักษะ
          </h1>
          <div class="row">
            <div class="col-md-6 bar-grids">
              <h6 class="skill-word">WEB DEVERLOP  <span class="skill-percentage"> 80% </span></h6>
              <div class="progress">
                <div class="progress-bar progress-bar-striped active" style="width: 80%">
                </div>
              </div>
              <h6 class="skill-word">WEB DESIGN  <span class="skill-percentage"> 60% </span></h6>
              <div class="progress">
                <div class="progress-bar progress-bar-striped active" style="width: 60%">
                </div>
              </div>
              <h6 class="skill-word">HTML+CSS  <span class="skill-percentage"> 75% </span></h6>
              <div class="progress">
                <div class="progress-bar progress-bar-striped active" style="width: 75%">
                </div>
              </div>
              <h6 class="skill-word">JAVASCRIPT  <span class="skill-percentage"> 80% </span></h6>
              <div class="progress">
                <div class="progress-bar progress-bar-striped active" style="width: 80%">
                </div>
              </div>
            </div>
            <div class="col-md-6 bar-grids">
              <h6 class="skill-word">PHP <span class="skill-percentage"> 75% </span></h6>
              <div class="progress">
                <div class="progress-bar progress-bar-striped active" style="width: 75%">
                </div>
              </div>
              <h6 class="skill-word">XML  <span class="skill-percentage"> 70% </span></h6>
              <div class="progress">
                <div class="progress-bar progress-bar-striped active" style="width: 70%">
                </div>
              </div>
              <h6 class="skill-word">PHOTOSHOP  <span class="skill-percentage"> 85% </span></h6>
              <div class="progress">
                <div class="progress-bar progress-bar-striped active" style="width: 85%">
                </div>
              </div>
              <h6 class="skill-word">ADOBE ILLUSTRATOR  <span class="skill-percentage"> 70% </span></h6>
              <div class="progress">
                <div class="progress-bar progress-bar-striped active" style="width: 70%">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container space-padding"></div>
</div>
<div class="project" id="project" style="background: black;">
  <div class="container fix-padding">
    <div class="row is-color-white">
      <div class="col-md-12">
        <div class="skills-text">
          <h1 class="text-header">
            งานของฉัน
          </h1>
          <div class="row">
            <div class="col-md-4 grid-respon">
              <a class="swipebox">
                <img class="image-responsive" :src="https://p.w3layouts.com/demos/may-2016/10-05-2016/my_resume/web/images/g1.jpg" width="350px;" height="auto">
                <div class="figcaption">
                  <div class="text-caption">เว็บไซต์สำหรับผู้ที่ต้องการศึกษาการทำอาหาร</div>
                </div>
              </a>
            </div>
            <div class="col-md-4 grid-respon">
              <a class="swipebox">
                <img class="image-responsive" :src="https://p.w3layouts.com/demos/may-2016/10-05-2016/my_resume/web/images/g2.jpg" width="350px;" height="auto">
                <div class="figcaption">
                  <div class="text-caption">เว็บไซต์สำหรับผู้ที่ต้องการแต่งตัว</div>
                </div>
              </a>
            </div>
            <div class="col-md-4 grid-respon">
              <a class="swipebox">
                <img class="image-responsive" :src="https://p.w3layouts.com/demos/may-2016/10-05-2016/my_resume/web/images/g4.jpg" width="350px;" height="auto">
                <div class="figcaption">
                  <div class="text-caption">เว็บไซต์สำหรับผู้ที่ต้องการสั่งอาหาร</div>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container space-padding"></div>
  </div>
</div>
<div class="modal fade" id="imagemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body" style="text-align: center;">
        <img src="" id="imagepreview" style="width: 100%; height: auto;" >
      </div>
    </div>
  </div>
</div>
<div class="contact" id="contact">
    <div class="container fix-padding">
      <div class="row">
        <div class="col-md-12">
          <div class="education-text">
            <h1 class="text-header">
              ติดต่อพวกเรา
            </h1>
            <div class="row">
              <div class="col-md-6">
                <iframe 
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7754.32342177114!2d100.41862990462586!3d13.647925266008011!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x30e2bcdf8ef1e6f1%3A0x77d579466635651b!2sTesco+Lotus+Rama+2!5e0!3m2!1sen!2sin!4v1530607911783"
                width="100%"
                height="100%"
                frameborder="0"
                style="border:0"
                allowfullscreen></iframe>
              </div>
              <div class="col-md-6" style="margin-top: 10px;">
                <div class="row">
                  <div class="col-md-5">
                    ถนน พระราม 2 แขวงแสมดำ เขตบางขุนเทียน กรุงเทพฯ 10150
                  </div>
                  <div class="col-md-7 border-box-left">
                    เบอร์ติดต่อ 084-692-5390<br />
                    อีเมลล์ siwakorn_earth@hotmail.com
                  </div>
                  <div style="padding: 0 5px;">
                    <input name="Name" placeholder="Name" type="text">
                    <input class="email" name="Email" placeholder="Email" type="text">
                    <input class="phone" name="phone" placeholder="Phone" type="text">
                    <textarea name="Message" placeholder="Message"></textarea>
                    <button class="submit-button">ยืนยัน</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer">
    <div class="container">
      <p class="copy-right">© 2018 My Resume. All rights reserved | Design by <a href="https://getbootstrap.com/" style="background-color: #1F1F1F;">Bootstrap</a></p>
    </div>
  </div>