.fix-padding {
    padding-top: 56px;
    padding-bottom: 56px;
}
.personal-text {
    padding-left: 42px;
}
.header-h2 {
    font-size: 1.0em;
    color: #000;
    background: #F3E000;
    display: inline-block;
    padding: .5em 1.5em;
    position: relative;
}
.name-header {
    font-size: 1.5em;
    color: #FFF;
    margin: 0.5em 0 0;
}
ul.address li ul.address-text {
    width: 20%;
}
.margin-personal {
    margin: 10px;
}
.space-padding {
    margin-top: 20vh;
}
.text-header {
    font-size: 4em;
    text-align: center;
    color: rgb(51, 192, 202);
    border-bottom: 4px double rgba(247, 197, 106, 0.35);
    padding-bottom: 0.2em;
    margin-bottom: 1em;
}
.award-box {
    border: 3px double #008B8B;
    padding: 1em 2em;
}
.award-header {
    font-size: 2em;
    text-align: center;
    color: #008B8B;
}
.education-left {
    text-align: right;
}
.education-year {
    margin-right: 5px;
    font-size: 1.2em;
    background: darkcyan;
    display: inline-block;
    padding: .6em 1.2em;
    color: #fff;
    position: relative;
}
.education-company {
    font-size: 1.3em;
    color: rgb(206, 105, 46);
    margin-bottom: .5em;
    border: 1px solid rgb(206, 105, 46);
    display: inline-block;
    padding: 1em 0.7em;
}
p {
    font-size: 1em;
    line-height: 1.8em;
}
.bar-grids {
    padding: 0 4em;
}
.skill-word {
    font-size: 1.1em;
    /* color: #fff; */
    margin-bottom: 0.6em;
}
.skill-percentage {
    float: right;
    font-size: 0.9em;
}
.progress {
    height: 10px;
    margin-bottom: 2.2em;
    background-color: rgba(101, 133, 155, 0.5);
}
.about, .skills {
    padding: 5vh 0;
}
.is-color-white {
    color:white;
}
.education {
    padding: 5vh 0;
    color:white;
}
hr {
    background: white;
}
a:hover {
    background-color:white;
}
.navbar-dark .navbar-nav .nav-link {
    color: rgba(255, 255, 255, 0.8)
}
.navbar-dark .navbar-nav .nav-link:hover, .navbar-dark .navbar-nav .nav-link:focus {
    color:#31199e
}
.is-center {
    text-align: center;
}
.banner-dot {
    background: url('https://p.w3layouts.com/demos/may-2016/10-05-2016/my_resume/web/images/dott.png')repeat 0px 0px;
}
input {
    margin: 11px 0px;
    width: 49%;
    background: none;
    outline: none;
    font-size: 1em;
    padding: .8em 1em;
    border: 1px solid #8C8C8C;
    -webkit-appearance: none;
    display: inline-block;
}
form {
    margin-left: 10px;
}
textarea {
    width: 100%;
    background: none;
    font-size: 1em;
    outline: none;
    padding: .8em 1em;
    border: 1px solid #8C8C8C;
    min-height: 10em;
    -webkit-appearance: none;
}
.submit-button {
    background: none;
    color: #008B8B;
    outline: none;
    color: #fff;
    padding: 0.6em 1em;
    font-size: 1.1em;
    margin: 1em 0 0 0;
    -webkit-appearance: none;
    background: #008B8B;
    border: 2px solid #008B8B;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    transition: 0.5s all;
    -moz-transition: 0.5s all;
    width: 100%;
}
.menu-button {
    outline: none;
    color: #fff;
    padding: 0.6em 1em;
    font-size: 1.1em;
    width: 100%;
}
.education-box-left {
    border-left: 1px solid rgb(61, 180, 31);
    padding-left: 3em;
}
.footer {
    padding: 2em 0;
    text-align: center;
    background: #1F1F1F;
    color: white;
}
.copy-right {
    margin: 0 0;
}
.grid-respon {
    position: relative;
    width: 50%;
    padding: 10px;
}
.grid-respon:hover .image-responsive {
    opacity: 0.3;
}
.grid-respon:hover .figcaption {
    opacity: 1;
}
.image-responsive {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}
.figcaption {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}
.text-caption {
    color: white;
    font-size: 16px;
    padding: 16px 32px;
}
.text-footer {
    text-align: center;
}
.swipebox {
    cursor: pointer;
}
.modal-dialog {
    max-width: 630px;
}
.modal-content {
    background-color: rgba(0, 0, 0, 0);
    border: none;
}
.modal-header {
    border-bottom: none;
}
.progress.active .progress-bar, .progress-bar.active {
    -webkit-animation: progress-bar-stripes 2s linear infinite;
    -o-animation: progress-bar-stripes 2s linear infinite;
    animation: progress-bar-stripes 2s linear infinite;
}
@media (min-width: 992px) {
    .nav-item {
        margin: 0 46px;
    }
    .border-box-left {
        border-left: 1px solid rgb(61, 180, 31);
        padding-left: 3em;
    }
}
@media (min-width: 1200px) {
    .nav-item {
        margin: 0 64px;
    }
}
@media (max-width: 393px) {
    .education-box-left {
        border-left: none;
        padding-left: 3em;
    }
}